body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
.posters {
  transition:transform 250ms;
  object-fit: contain;
}
.posters:hover{
  transform: scale(1.05);
}
.head-color{
  color:rgb(255,255,255);
}
.row-trend{
  overflow-y: hidden;
  overflow-x: scroll;
 
}
.row-trend::-webkit-scrollbar{
  display: none;
}
.banner-content{
  margin-top: 4%;
}

/* .fade_button {
  height: 14rem;
  background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111 );
    
} */
@media (max-width:767px){
  .fade_button {
    height: 18rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111 );
      
  }
}
@media (min-width:768px){
  .fade_button {
    height: 6rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111 );
      
  }
}