body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
.posters {
  transition:transform 250ms;
  object-fit: contain;
}
.posters:hover{
  transform: scale(1.05);
}
.head-color{
  color:rgb(255,255,255);
}
.row-trend{
  overflow-y: hidden;
  overflow-x: scroll;
 
}
.row-trend::-webkit-scrollbar{
  display: none;
}
.banner-content{
  margin-top: 4%;
}

/* .fade_button {
  height: 14rem;
  background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111 );
    
} */
@media (max-width:767px){
  .fade_button {
    height: 18rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111 );
      
  }
  .banner-content {
    margin-top: 100px;
  }
}
@media (min-width:768px){
  .fade_button {
    height: 20rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111 );
      
  }
}
nav {
  position: fixed;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  background-color: #111;
  /* height: 70px; */
}

/* hide left right button */
@media (max-width:767px){
  .arrow-buttons {
    display: none;
  }
}